.container {
  width: 928px;
  margin: 0 auto;
}

h1, h2, p, a {
  font-family: 'Helvetica Neue Thin', 'HelveticaNeue-Thin', 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;
}

h1 {
  font-size: 64px;
  font-weight: 100;
  margin-bottom: 20px;

}

a {
  font-size:18px;
  font-weight: 200;
}

.main {
  height: 550px;
  width: 100%;
  padding-top: 55px;
  background: url("http://s3.amazonaws.com/codecademy-content/projects/shutterbugg/intro.jpg")no-repeat center;
  background-size: cover;
}

.main p {
  font-size: 26px;
  font-weight: 200;  
  margin-bottom: 40px;
}

.main a {
  background-color: rgba(238,68,95,0.9);
  color: white;
  border-radius: 5%;
  text-decoration: none;
  padding: 5px 15px 5px 15px;
  font-weight: bold;
}

.section .container{
    padding: 60px;
    border-bottom: 1px soild grey;
}
    
.section .row {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section {
  border-bottom: 1px solid rgb(212,212,212);    
}

.store {
  text-align: center;
  border-bottom: 0px;
  padding-bottom:100px
}

.footer {
  border-top: 1px solid #dbdbdb;
  background-color: #f3f3f3;
  padding: 20px 0px 80px;
  width: 100%;
}

.footer ul {
  list-style-type: none;
  padding-left: 0;
  display: inline-block;
}

.footer li {
  color: #555555;
  font-weight: 600;
  font-size: 14px;
}

.footer a {
    text-decoration: none;
}

.footer li:hover {
    color: rgba(238,68,95,0.9);    
}
